.container {
  padding: 5px 20px 5px;
  background-color: #e6e6e6;
  text-align: justify;
  border-radius: 20px;
}

.heading {
  display: flex;
  align-items: center;
}

.headingName {
  margin-bottom: 0px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 0.5px;
  background-color: black;
  margin: 5px;
}
