.container {
  padding: 20px 20px 5px;
  background-color: mediumpurple;
  text-align: justify;
}

.heading {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 0.5px;
  background-color: black;
  margin: 5px;
}
