.userContainer {
  padding: 10px;
  background-color: #e4d6e9;
  width: 90%;
  border-radius: 10px;
  align-self: flex-end;
  overflow-wrap: break-word;
  /* max-width: 666px; */
}

.otherContainer {
  padding: 10px;
  background-color: #ffffff;
  width: 90%;
  border-radius: 10px;
  overflow-wrap: break-word;
  /* max-width: 666px; */
}

.name {
  font-weight: bold;
}

.time {
  font-size: 14px;
  float: right;
}
